#lifelines {
  .container {
    display: flex;
    padding: 30px 30px;
    justify-content: space-between;
    div.lifeline {
      background: linear-gradient(to bottom, #63b6db 0%, #309dcf 100%);
      border-radius: 50px;
      color: white;
      padding: 20px 10px;
      text-align: center;
      font-weight: bold;
      border: 5px white solid;
      width: 100px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: 0.5s;
      font-size: 1.5em;
      &:hover {
        background: linear-gradient(to bottom, #356aa0 0%, #356aa0 100%);
      }
    }
    div.disabled {
      margin: 0px auto;
      text-align: center;
      font-size: 7.5em;
      margin-top: -100px;
      color: red;
    }
  }
}
