header {
  .container .logo {
    margin: 30px auto 0px;
    max-width: 100px;
    transition: 0.5s;
    .logo {
      margin: 0px auto;
    }
    img {
      width: 100%;
      border-radius: 50%;
      box-shadow: 0px 0px 50px #fff;
      cursor: pointer;
      &:hover {
        box-shadow: 0px 0px 100px #fff;
      }
    }
    .playIcon {
      text-align: center;
      font-size: 5em;
      color: color;
      position: absolute;
      top: 50%;
      left: 44%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}
