@import 'reset.scss';
@import 'helper';
@import 'variables';
@import './top/index';
@import './middle/index';
@import './bottom/index';
@import './box';
@import './prompt';
* {
  box-sizing: border-box;
  /* Must have */
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background: url('../img/Purple-Blue-gradient.jpg') no-repeat center center
    fixed;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
